@import url('https://fonts.googleapis.com/css?family=Acme|Raleway&display=swap');
.seek-help {
    padding: 20px;
    background-size: cover;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
}

.text-field {
    margin-left: 20px;
    font-size: 1.3rem;
    text-align: left;
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
}

.text-val {
    color: #F72C25;
}